<div class="socialmedia">
    <hr />
    <ul>
      <li class="github">
        <a href="https://github.com/imbrito" target="_blank">
          {% include social/github.svg %}
        </a>
      </li>
      <li class="linkedin">
        <a href="https://linkedin.com/in/imbrito" target="_blank">
          {% include social/linkedin.svg %}
        </a>
      </li>
      <li class="instagram">
        <a href="https://instagram.com/imbrito" target="_blank">
            {% include social/instagram.svg %}
        </a>
      </li>
    </ul>
</div>
<br />